/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header .logo {
  width: 60px;
  height: auto;
}

header .ministry p {
  text-align: right;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2;
}

main h1,
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.register-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  color: #fff;
  background-color: #4a4aff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-button:hover {
  background-color: #3b3bcc;
  transform: scale(1.05);
}

.secondary-button {
  background-color: #333;
}

.secondary-button:hover {
  background-color: #555;
}

.form-container {
  margin-top: 20px;
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
